*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.first-header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #ffffff;
    z-index: 1000;
}
.sub-header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97vw;
    margin: auto;
}
.logo-btn{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.youtube-logo{
    width: 150px;
    height: 70px;
}
.youtube-logo img{
    width: 100%;
    height: 100%;
}
.bar-btn{
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: 300;
    color: #030303;
    border-radius: 50%;
    border: none;
    background: none;
}
.bar-btn:hover, .search-btn:hover, .notification button:hover, .speaker-btn:hover{
    background-color: #f0f0f0;
}
.search-section{
    display: flex;
    align-items: center;
}
.search-section form{
    position: relative;
    border: 2px groove;
    width: 40vw;
    border-radius: 30px;
}
.search-section form input{
    padding: 10px 25px;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #111111;
}
.search-section form input:hover{
    outline: none;
}
.search-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    font-weight: 300;
    font-size: 20px;
    color: rgb(107, 106, 106);
    border: none;
    border-left: 1px groove;
    background-color: #f8f8f8;
    border-top-right-radius: 900px;    
    border-bottom-right-radius: 900px;
    cursor: pointer;    

}
.notification button, .speaker-btn{
    padding: 2px 10px;
    font-family: 400;
    font-size: 17px;
    line-height: 36px;
    color: rgb(58, 56, 56);
    border-radius: 50%;
    border: none;
    margin-left: .7rem;
    cursor: pointer;
}
.speaker-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f8f8f8;
}
.notification button{
    background: none;
    font-size: 20px;
    color: rgb(72, 71, 71);
}
.head-btn{
    display: none;
}
@media screen and (max-width:700px) {
    .head-btn{
        display: inline;
    }
    .search-section, .notify{
        display: none;
    }
    .logo-btn{
        display: flex;
        align-items: center;
        gap: 0;
    }
}
@media screen and (max-width:380px) {
    .notify2{
        display: none;
    }
}
.channel-banner{
    width: 90vw;
    height: 23vh;
    margin: auto;
    border-radius: 15px;
}
.channel-banner img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
@media screen and (max-width:900px) {
    .channel-banner{
        height: 20vw;
    }
}
@media screen and (max-width:600px) {
    .channel-banner{
        height: 17vw;
    }
}
.channel-profile{
    border-radius: 900px;
}
.channel-profile img{
    border-radius: 900px;
}
.channel{
    width: 90vw;
    margin: auto;
}
.sec-channel{
    display: flex;
    gap: 1rem;
}
.profile-disc h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    font-style: normal;
    color: #0f0f0f;
}
.profile-disc p{
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    font-style: normal;
    color: #606060;
}
.profile-disc button, .channel button{
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    font-style: normal;
    color: #ffffff;
    padding: 0 15px;
    background-color: #030303;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.channel-btn{
    width: 100%;
    display: none;
    margin-top: .5rem;
}
.channel-secetion{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.phone{
    display: none;
}
@media screen and (max-width:700px) {
    .sec-channel button, .tab{
        display: none;
    }
    .channel-btn, .phone{
        display: block;
    }
}
.list-section{
    border-bottom: 1px groove;
    margin-bottom: 1rem;
}
.list-section ul{
    width: 90vw;
    overflow-x: scroll;
    scrollbar-width: none;
    margin: auto;
    display: flex;
    gap: 2rem;
}
.list-section ul li{
    list-style-type: none;
    padding: 0 0 10px 0;
    cursor: pointer;
}
.list-section ul li:hover{
    border-bottom: 2px solid #0f0f0f;
    padding-bottom: 8px;
}
.list-section ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #0f0f0f;
    word-wrap: none;
    white-space: nowrap;
}
.home{
    display: flex;
    gap: 1rem;
    width: 90vw;
    margin: auto;
    border-bottom: 1px groove;
    padding-bottom: 2rem;
}
.home-video{
    width: 400px;
    height: 220px;
    border-radius: 15px;
}
.home-video video{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.home-article h2{
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    color: #0f0f0f;
    padding-bottom: 10px;
}
.home-article div{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #606060;
}
.home-article p{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #0f0f0f;
    padding-top: 10px;
}
#home{
    margin-bottom: 2rem;
}
@media screen and (max-width:900px) {
    .home{
        flex-direction: column;
    }
    .home-article p{
        display: none;
    }
}
@media screen and (max-width:600px) {
    .home-video{
        width: 100%;
    }
}
.video-section{
    width: 90vw;
    margin: auto;
    padding-bottom: 2rem;
    border-bottom: 1px groove;
}
.video-cont{
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    scrollbar-width: none;
}
.video-frame{
    width: 200px;
    height: 110px;
    border-radius: 10px;
}
.video-frame video{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.video-section h2{
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
    font-style: normal;
    color: #0f0f0f;
    padding-bottom: 1.5rem;
}
.video-title p{
    font-weight: 700;
    font-size: 15px;
    line-height: 28px;
    font-style: normal;
    color: #0f0f0f;
    margin-top: 5px;
    word-wrap: none;
    white-space: nowrap;
}
.video-title .span{
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
    color: #606060;
    word-wrap: none;
    white-space: nowrap;
}
.video-article button{
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    color: #0f0f0f;
    padding: 8px 8px;
    border: none;
    background: none;
    cursor: pointer;
}
.video-article{
    display: flex;
    justify-content: space-between;
}
#videos, #for-you, #playlist{
    margin-bottom: 2rem;
}
.shorts-video{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
.shorts-video video{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 10px;
}
.shorts-description{
    padding: 10px;
    padding-top: 0;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.shorts-description span{
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #0f0f0f;
}
.short-view{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #606060;
}
.shorts-frame{
    transition: background-color 0.5s;
    border-radius: 15px;
    cursor: pointer;
}
.shorts-frame:hover{
    background-color: #E5E5E5;
}
.shorts-video-cont{
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
}
.short-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.short-header h1{
    font-size: 30px;
    font-weight: 700;
    color: #030303;
}
.short-header button{
    font-size: 50px;
    font-weight: 100;
    background: none;
    border: none;
    cursor: pointer;
    color: #606060;
}
.shorts-section{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 90vw;
    margin: auto;
}